NET "CLK_1X" TNM_NET = CLK_1X;
TIMESPEC TS_CLK_1X = PERIOD "CLK_1X" 20 MHz HIGH 50%;
NET "CLK_4X" TNM_NET = CLK_4X;
TIMESPEC TS_CLK_4X = PERIOD "CLK_4X" 80 MHz HIGH 50%;

NET "ADC_CH1_ADC128_CS_N"	 	LOC = "AK23";
NET "ADC_CH1_ADC128_DIN"	 	LOC = "AP25";
NET "ADC_CH1_ADC128_DOUT"	 	LOC = "AP24";
NET "ADC_CH1_ADC128_SCLK"	 	LOC = "AN24";
NET "ADC_CH1_D<0>"	 			LOC = "AH27";
NET "ADC_CH1_D<1>"	 			LOC = "AN30";
NET "ADC_CH1_D<2>"	 			LOC = "AG25";
NET "ADC_CH1_D<3>"	 			LOC = "AP30";
NET "ADC_CH1_D<4>"	 			LOC = "AL29";
NET "ADC_CH1_D<5>"	 			LOC = "AN29";
NET "ADC_CH1_D<6>"	 			LOC = "AL28";
NET "ADC_CH1_D<7>"	 			LOC = "AN28";
NET "ADC_CH1_D<8>"	 			LOC = "AH25";
NET "ADC_CH1_D<9>"	 			LOC = "AN27";
NET "ADC_CH1_D<10>"	 			LOC = "AK27";
NET "ADC_CH1_D<11>"	 			LOC = "AH23";
NET "ADC_CH1_DFS_N"	 			LOC = "AL24";
NET "ADC_CH1_DR"	 			LOC = "AN25";
NET "ADC_CH1_OE_N"	 			LOC = "AH24";
NET "ADC_CH1_OR"	 			LOC = "AM25";
# NET "ADC_CH1_SPARE_N<1>"	 	LOC = "AM26";
# NET "ADC_CH1_SPARE_P<1>"	 	LOC = "AL26";
# NET "ADC_CH1_SPARE_N<2>"	 	LOC = "AK24";
# NET "ADC_CH1_SPARE_P<2>"	 	LOC = "AJ24";
# NET "ADC_CH1_SPARE_N<3>"	 	LOC = "AP26";
# NET "ADC_CH1_SPARE_P<3>"	 	LOC = "AP27";
NET "ADC_CH1_SRC"	 			LOC = "AL25";
# NET "ADC_CH2_ADC128_CS_N"	 	LOC = "AP32";
# NET "ADC_CH2_ADC128_DIN"	 	LOC = "AL30";
# NET "ADC_CH2_ADC128_DOUT"	 	LOC = "AM31";
# NET "ADC_CH2_ADC128_SCLK"	 	LOC = "AM32";
# NET "ADC_CH2_D<0>"	 			LOC = "AD25";
# NET "ADC_CH2_D<1>"	 			LOC = "AE27";
# NET "ADC_CH2_D<2>"	 			LOC = "AH33";
# NET "ADC_CH2_D<3>"	 			LOC = "AE28";
# NET "ADC_CH2_D<4>"	 			LOC = "AJ34";
# NET "ADC_CH2_D<5>"	 			LOC = "AF28";
# NET "ADC_CH2_D<6>"	 			LOC = "AL34";
# NET "ADC_CH2_D<7>"	 			LOC = "AH29";
# NET "ADC_CH2_D<8>"	 			LOC = "AN33";
# NET "ADC_CH2_D<9>"	 			LOC = "AG27";
# NET "ADC_CH2_D<10>"	 			LOC = "AF30";
# NET "ADC_CH2_D<11>"	 			LOC = "AF26";
# NET "ADC_CH2_DFS_N"	 			LOC = "AP33";
# NET "ADC_CH2_DR"	 			LOC = "AN32";
# NET "ADC_CH2_OE_N"	 			LOC = "AE26";
# NET "ADC_CH2_OR"	 			LOC = "AM33";
# NET "ADC_CH2_SPARE_N<1>"	 	LOC = "AJ30";
# NET "ADC_CH2_SPARE_P<1>"	 	LOC = "AJ29";
# NET "ADC_CH2_SPARE_N<2>"	 	LOC = "AK32";
# NET "ADC_CH2_SPARE_P<2>"	 	LOC = "AK33";
# NET "ADC_CH2_SPARE_N<3>"	 	LOC = "AK31";
# NET "ADC_CH2_SPARE_P<3>"	 	LOC = "AL31";
# NET "ADC_CH2_SRC"	 			LOC = "AL33";
NET "DAC_CH1_ADC128_CSn"	 	LOC = "AF18";
NET "DAC_CH1_ADC128_DIN"	 	LOC = "AH13";
NET "DAC_CH1_ADC128_DOUT"	 	LOC = "AH14";
NET "DAC_CH1_ADC128_SCLK"	 	LOC = "AE18";
NET "DAC_CH1_CDCM_PLL_LOCK"	 	LOC = "AN20";
NET "DAC_CH1_CDCM_RSTn"	 		LOC = "AM20";
NET "DAC_CH1_CDCM_SCLK"	 		LOC = "AL20";
NET "DAC_CH1_CDCM_SDIN"	 		LOC = "AJ22";
NET "DAC_CH1_CDCM_SLE"	 		LOC = "AC20";
NET "DAC_CH1_CDCM_STATUS_REF"	LOC = "AD20";
NET "DAC_CH1_CDCM_STATUS_VCXO"	LOC = "AN19";
NET "DAC_CH1_MUX_S<0>"	 		LOC = "AP19";
NET "DAC_CH1_MUX_S<1>"	 		LOC = "AN18";
NET "DAC_CH1_MUX_S<2>"	 		LOC = "AK22";
# NET "DAC_CH1_SPARE_N<1>"	 	LOC = "AF21";
# NET "DAC_CH1_SPARE_P<1>"	 	LOC = "AF20";
# NET "DAC_CH1_SPARE_N<2>"	 	LOC = "AL23";
# NET "DAC_CH1_SPARE_P<2>"	 	LOC = "AM23";
# NET "DAC_CH1_SPARE_N<3>"	 	LOC = "AJ21";
# NET "DAC_CH1_SPARE_P<3>"	 	LOC = "AK21";
# NET "DAC_CH2_ADC128_CSn"	 	LOC = "V25";
# NET "DAC_CH2_ADC128_DIN"	 	LOC = "AG31";
# NET "DAC_CH2_ADC128_DOUT"	 	LOC = "AF31";
# NET "DAC_CH2_ADC128_SCLK"	 	LOC = "W25";
# NET "DAC_CH2_MUX_S<0>"	 		LOC = "AM21";
# NET "DAC_CH2_MUX_S<1>"	 		LOC = "AL21";
# NET "DAC_CH2_MUX_S<2>"	 		LOC = "AC19";
# NET "DAC_CH2_SPARE_N<1>"	 	LOC = "AN22";
# NET "DAC_CH2_SPARE_P<1>"	 	LOC = "AM22";
# NET "DAC_CH2_SPARE_N<2>"	 	LOC = "AG21";
# NET "DAC_CH2_SPARE_P<2>"	 	LOC = "AG20";
# NET "DAC_CH2_SPARE_N<3>"	 	LOC = "AN23";
# NET "DAC_CH2_SPARE_P<3>"	 	LOC = "AP22";
NET "DACB_CH1_CSn"	 			LOC = "AL18";
NET "DACB_CH1_D_N<0>"	 		LOC = "AF15";
NET "DACB_CH1_D_P<0>"	 		LOC = "AG15";
NET "DACB_CH1_D_N<1>"	 		LOC = "AJ14";
NET "DACB_CH1_D_P<1>"	 		LOC = "AK14";
NET "DACB_CH1_D_N<2>"	 		LOC = "AH15";
NET "DACB_CH1_D_P<2>"	 		LOC = "AJ15";
NET "DACB_CH1_D_N<3>"	 		LOC = "AL14";
NET "DACB_CH1_D_P<3>"	 		LOC = "AL15";
NET "DACB_CH1_D_N<4>"	 		LOC = "AF16";
NET "DACB_CH1_D_P<4>"	 		LOC = "AG16";
NET "DACB_CH1_D_N<5>"	 		LOC = "AM15";
NET "DACB_CH1_D_P<5>"	 		LOC = "AN15";
NET "DACB_CH1_D_N<6>"	 		LOC = "AJ16";
NET "DACB_CH1_D_P<6>"	 		LOC = "AJ17";
NET "DACB_CH1_D_N<7>"	 		LOC = "AP15";
NET "DACB_CH1_D_P<7>"	 		LOC = "AP16";
NET "DACB_CH1_D_N<8>"	 		LOC = "AG17";
NET "DACB_CH1_D_P<8>"	 		LOC = "AH17";
NET "DACB_CH1_D_N<9>"	 		LOC = "AD15";
NET "DACB_CH1_D_P<9>"	 		LOC = "AC15";
NET "DACB_CH1_D_N<10>"	 		LOC = "AE17";
NET "DACB_CH1_D_P<10>"	 		LOC = "AD17";
NET "DACB_CH1_D_N<11>"	 		LOC = "AC17";
NET "DACB_CH1_D_P<11>"	 		LOC = "AC18";
NET "DACB_CH1_D_N<12>"	 		LOC = "AK17";
NET "DACB_CH1_D_P<12>"	 		LOC = "AK18";
NET "DACB_CH1_D_N<13>"	 		LOC = "AP17";
NET "DACB_CH1_D_P<13>"	 		LOC = "AN17";
NET "DACB_CH1_D_N<14>"	 		LOC = "AH19";
NET "DACB_CH1_D_P<14>"	 		LOC = "AJ19";
NET "DACB_CH1_D_N<15>"	 		LOC = "AM16";
NET "DACB_CH1_D_P<15>"	 		LOC = "AM17";
NET "DACB_CH1_DCLK_IN_N"		LOC = "AD16";
NET "DACB_CH1_DCLK_IN_P"	 	LOC = "AE16";
NET "DACB_CH1_DCLK_OUT_N"	 	LOC = "H9";
NET "DACB_CH1_DCLK_OUT_P"	 	LOC = "J9";
NET "DACB_CH1_RESET"	 		LOC = "AL16";
NET "DACB_CH1_SCLK"	 			LOC = "AK16";
NET "DACB_CH1_SDIO"	 			LOC = "AG22";
NET "DACB_CH1_SDO"	 			LOC = "AH22";
# NET "DACB_CH2_CSn"	 			LOC = "AP21";
# NET "DACB_CH2_D_N<0>"	 		LOC = "T25";
# NET "DACB_CH2_D_P<0>"	 		LOC = "U25";
# NET "DACB_CH2_D_N<1>"	 		LOC = "T29";
# NET "DACB_CH2_D_P<1>"	 		LOC = "T28";
# NET "DACB_CH2_D_N<2>"	 		LOC = "R34";
# NET "DACB_CH2_D_P<2>"	 		LOC = "R33";
# NET "DACB_CH2_D_N<3>"	 		LOC = "T31";
# NET "DACB_CH2_D_P<3>"	 		LOC = "T30";
# NET "DACB_CH2_D_N<4>"	 		LOC = "T34";
# NET "DACB_CH2_D_P<4>"	 		LOC = "T33";
# NET "DACB_CH2_D_N<5>"	 		LOC = "U27";
# NET "DACB_CH2_D_P<5>"	 		LOC = "U26";
# NET "DACB_CH2_D_N<6>"	 		LOC = "U32";
# NET "DACB_CH2_D_P<6>"	 		LOC = "U33";
# NET "DACB_CH2_D_N<7>"	 		LOC = "V29";
# NET "DACB_CH2_D_P<7>"	 		LOC = "U28";
# NET "DACB_CH2_D_N<8>"	 		LOC = "U30";
# NET "DACB_CH2_D_P<8>"	 		LOC = "U31";
# NET "DACB_CH2_D_N<9>"	 		LOC = "W30";
# NET "DACB_CH2_D_P<9>"	 		LOC = "V30";
# NET "DACB_CH2_D_N<10>"	 		LOC = "W32";
# NET "DACB_CH2_D_P<10>"	 		LOC = "W31";
# NET "DACB_CH2_D_N<11>"	 		LOC = "V27";
# NET "DACB_CH2_D_P<11>"	 		LOC = "V28";
# NET "DACB_CH2_D_N<12>"	 		LOC = "Y27";
# NET "DACB_CH2_D_P<12>"	 		LOC = "Y28";
# NET "DACB_CH2_D_N<13>"	 		LOC = "Y31";
# NET "DACB_CH2_D_P<13>"	 		LOC = "Y32";
# NET "DACB_CH2_D_N<14>"	 		LOC = "Y34";
# NET "DACB_CH2_D_P<14>"	 		LOC = "Y33";
# NET "DACB_CH2_D_N<15>"	 		LOC = "Y29";
# NET "DACB_CH2_D_P<15>"	 		LOC = "W29";
# NET "DACB_CH2_DCLK_IN_N"		LOC = "W34";
# NET "DACB_CH2_DCLK_IN_P"		LOC = "V34";
# NET "DACB_CH2_DCLK_OUT_N"		LOC = "K12";
# NET "DACB_CH2_DCLK_OUT_P"		LOC = "K13";
# NET "DACB_CH2_RESET"	 		LOC = "W27";
# NET "DACB_CH2_SCLK"	 			LOC = "W26";
# NET "DACB_CH2_SDIO"	 			LOC = "AK19";
# NET "DACB_CH2_SDO"	 			LOC = "AL19";
NET "DACF_CH1_CSn"	 			LOC = "AE21";
NET "DACF_CH1_D_N<0>"	 		LOC = "AE12";
NET "DACF_CH1_D_P<0>"	 		LOC = "AE13";
NET "DACF_CH1_D_N<1>"	 		LOC = "AK11";
NET "DACF_CH1_D_P<1>"	 		LOC = "AJ11";
NET "DACF_CH1_D_N<2>"	 		LOC = "AC14";
NET "DACF_CH1_D_P<2>"	 		LOC = "AD14";
NET "DACF_CH1_D_N<3>"	 		LOC = "AJ12";
NET "DACF_CH1_D_P<3>"	 		LOC = "AK12";
NET "DACF_CH1_D_N<4>"	 		LOC = "AE11";
NET "DACF_CH1_D_P<4>"	 		LOC = "AF11";
NET "DACF_CH1_D_N<5>"	 		LOC = "AL10";
NET "DACF_CH1_D_P<5>"	 		LOC = "AM10";
NET "DACF_CH1_D_N<6>"	 		LOC = "AG10";
NET "DACF_CH1_D_P<6>"	 		LOC = "AG11";
NET "DACF_CH1_D_N<7>"	 		LOC = "AM11";
NET "DACF_CH1_D_P<7>"	 		LOC = "AL11";
NET "DACF_CH1_D_N<8>"	 		LOC = "AH10";
NET "DACF_CH1_D_P<8>"	 		LOC = "AJ10";
NET "DACF_CH1_D_N<9>"	 		LOC = "AC12";
NET "DACF_CH1_D_P<9>"	 		LOC = "AC13";
NET "DACF_CH1_D_N<10>"	 		LOC = "AH12";
NET "DACF_CH1_D_P<10>"	 		LOC = "AG12";
NET "DACF_CH1_D_N<11>"	 		LOC = "AP12";
NET "DACF_CH1_D_P<11>"	 		LOC = "AP11";
NET "DACF_CH1_D_N<12>"	 		LOC = "AL13";
NET "DACF_CH1_D_P<12>"	 		LOC = "AK13";
NET "DACF_CH1_D_N<13>"	 		LOC = "AN12";
NET "DACF_CH1_D_P<13>"	 		LOC = "AM12";
NET "DACF_CH1_D_N<14>"	 		LOC = "AF14";
NET "DACF_CH1_D_P<14>"	 		LOC = "AE14";
NET "DACF_CH1_D_N<15>"	 		LOC = "AM13";
NET "DACF_CH1_D_P<15>"	 		LOC = "AN13";
NET "DACF_CH1_DCLK_IN_N"	 	LOC = "AD11";
NET "DACF_CH1_DCLK_IN_P"	 	LOC = "AD12";
NET "DACF_CH1_DCLK_OUT_N"	 	LOC = "B10";
NET "DACF_CH1_DCLK_OUT_P"	 	LOC = "A10";
NET "DACF_CH1_RESET"	 		LOC = "AP14";
NET "DACF_CH1_SCLK"	 			LOC = "AN14";
NET "DACF_CH1_SDIO"	 			LOC = "AD21";
NET "DACF_CH1_SDO"	 			LOC = "AM18";
# NET "DACF_CH2_CSn"	 			LOC = "AF19";
# NET "DACF_CH2_D_N<0>"	 		LOC = "AA33";
# NET "DACF_CH2_D_P<0>"	 		LOC = "AA34";
# NET "DACF_CH2_D_N<1>"	 		LOC = "AA31";
# NET "DACF_CH2_D_P<1>"	 		LOC = "AA30";
# NET "DACF_CH2_D_N<2>"	 		LOC = "AC34";
# NET "DACF_CH2_D_P<2>"	 		LOC = "AD34";
# NET "DACF_CH2_D_N<3>"	 		LOC = "AB31";
# NET "DACF_CH2_D_P<3>"	 		LOC = "AB30";
# NET "DACF_CH2_D_N<4>"	 		LOC = "AB33";
# NET "DACF_CH2_D_P<4>"	 		LOC = "AC33";
# NET "DACF_CH2_D_N<5>"	 		LOC = "AD31";
# NET "DACF_CH2_D_P<5>"	 		LOC = "AE31";
# NET "DACF_CH2_D_N<6>"	 		LOC = "Y26";
# NET "DACF_CH2_D_P<6>"	 		LOC = "AA25";
# NET "DACF_CH2_D_N<7>"	 		LOC = "AA29";
# NET "DACF_CH2_D_P<7>"	 		LOC = "AA28";
# NET "DACF_CH2_D_N<8>"	 		LOC = "AF34";
# NET "DACF_CH2_D_P<8>"	 		LOC = "AE34";
# NET "DACF_CH2_D_N<9>"	 		LOC = "AC30";
# NET "DACF_CH2_D_P<9>"	 		LOC = "AD30";
# NET "DACF_CH2_D_N<10>"	 		LOC = "AG32";
# NET "DACF_CH2_D_P<10>"	 		LOC = "AG33";
# NET "DACF_CH2_D_N<11>"	 		LOC = "AC29";
# NET "DACF_CH2_D_P<11>"	 		LOC = "AD29";
# NET "DACF_CH2_D_N<12>"	 		LOC = "AB26";
# NET "DACF_CH2_D_P<12>"	 		LOC = "AA26";
# NET "DACF_CH2_D_N<13>"	 		LOC = "AC28";
# NET "DACF_CH2_D_P<13>"	 		LOC = "AB28";
# NET "DACF_CH2_D_N<14>"	 		LOC = "AE32";
# NET "DACF_CH2_D_P<14>"	 		LOC = "AD32";
# NET "DACF_CH2_D_N<15>"	 		LOC = "AC27";
# NET "DACF_CH2_D_P<15>"	 		LOC = "AB27";
# NET "DACF_CH2_DCLK_IN_N"	 	LOC = "AF33";
# NET "DACF_CH2_DCLK_IN_P"	 	LOC = "AE33";
# NET "DACF_CH2_DCLK_OUT_N"	 	LOC = "E11";
# NET "DACF_CH2_DCLK_OUT_P"	 	LOC = "D11";
# NET "DACF_CH2_RESET"	 		LOC = "AB25";
# NET "DACF_CH2_SCLK"	 			LOC = "AC25";
# NET "DACF_CH2_SDIO"	 			LOC = "AE19";
# NET "DACF_CH2_SDO"	 			LOC = "AP20";
NET "FPGA_CLK_N"	 			LOC = "K23";
NET "FPGA_CLK_P"	 			LOC = "K24";
NET "FPGA_RESET"	 			LOC = "AB23" |SLEW=SLOW;
NET "FPGA_RESET" CLOCK_DEDICATED_ROUTE = FALSE;
NET "GPIO_DIP_SW<0>"	 		LOC = "T24";
NET "GPIO_DIP_SW<1>"	 		LOC = "T23";
NET "GPIO_DIP_SW<2>"	 		LOC = "J25";
NET "GPIO_DIP_SW<3>"	 		LOC = "J24";
NET "GPIO_DIP_SW<4>"	 		LOC = "U23";
NET "GPIO_DIP_SW<5>"	 		LOC = "V23";
NET "GPIO_DIP_SW<6>"	 		LOC = "AD24";
NET "GPIO_DIP_SW<7>"	 		LOC = "AE24";
NET "GPIO_LED<0>"	 			LOC = "AG23";
NET "GPIO_LED<1>"	 			LOC = "AA23";
NET "GPIO_LED<2>"	 			LOC = "L10";
NET "GPIO_LED<3>"	 			LOC = "AC24";
NET "GPIO_LED<4>"	 			LOC = "AC22";
NET "GPIO_LED<5>"	 			LOC = "AD9";
NET "GPIO_LED<6>"	 			LOC = "AE9";
NET "GPIO_LED<7>"	 			LOC = "AK9";
# NET "GPIO_PB<1>"	 			LOC = "AH28";
# NET "GPIO_PB<2>"	 			LOC = "AD26";
# NET "HPC_DAC_CH1_PRSNT_M2C_L"	LOC = "C15";
# NET "HPC_DAC_CH2_PRSNT_M2C_L"	LOC = "AD19";
# NET "HPC1_CONF_CLK_N"	 		LOC = "K27";
# NET "HPC1_CONF_CLK_P"	 		LOC = "K26";
NET "HPC1_CONF_D_N<0>"	 		LOC = "B32";
NET "HPC1_CONF_D_P<0>"	 		LOC = "C32";
NET "HPC1_CONF_D_N<1>"	 		LOC = "J27";
NET "HPC1_CONF_D_P<1>"	 		LOC = "J26";
NET "HPC1_CONF_D_N<2>"	 		LOC = "E33";
NET "HPC1_CONF_D_P<2>"	 		LOC = "E32";
NET "HPC1_CONF_D_N<3>"	 		LOC = "G30";
NET "HPC1_CONF_D_P<3>"	 		LOC = "F30";
NET "HPC1_CONF_D_N<4>"	 		LOC = "B33";
NET "HPC1_CONF_D_P<4>"	 		LOC = "A33";
NET "HPC1_CONF_D_N<5>"	 		LOC = "H30";
NET "HPC1_CONF_D_P<5>"	 		LOC = "G31";
NET "HPC1_CONF_D_N<6>"	 		LOC = "B34";
NET "HPC1_CONF_D_P<6>"	 		LOC = "C33";
NET "HPC1_CONF_D_N<7>"	 		LOC = "J29";
NET "HPC1_CONF_D_P<7>"	 		LOC = "K28";
NET "HPC1_CONF_RDYn_N"	 		LOC = "E31";
NET "HPC1_CONF_RDYn_P"	 		LOC = "F31";
NET "HPC1_CONF_WR_N"	 		LOC = "C34";
NET "HPC1_CONF_WR_P"	 		LOC = "D34";
# NET "HPC1_DAQ_CLK_N"	 		LOC = "M33";
# NET "HPC1_DAQ_CLK_P"	 		LOC = "N33";
NET "HPC1_DAQ_D_N<0>"	 		LOC = "D20";
NET "HPC1_DAQ_D_P<0>"	 		LOC = "C20";
NET "HPC1_DAQ_D_N<1>"	 		LOC = "A24";
NET "HPC1_DAQ_D_P<1>"	 		LOC = "A23";
NET "HPC1_DAQ_D_N<2>"	 		LOC = "G22";
NET "HPC1_DAQ_D_P<2>"	 		LOC = "G21";
NET "HPC1_DAQ_D_N<3>"	 		LOC = "C23";
NET "HPC1_DAQ_D_P<3>"	 		LOC = "B23";
NET "HPC1_DAQ_D_N<4>"	 		LOC = "J21";
NET "HPC1_DAQ_D_P<4>"	 		LOC = "J20";
NET "HPC1_DAQ_D_N<5>"	 		LOC = "B22";
NET "HPC1_DAQ_D_P<5>"	 		LOC = "B21";
NET "HPC1_DAQ_D_N<6>"	 		LOC = "E23";
NET "HPC1_DAQ_D_P<6>"	 		LOC = "E22";
NET "HPC1_DAQ_D_N<7>"	 		LOC = "A21";
NET "HPC1_DAQ_D_P<7>"	 		LOC = "A20";
NET "HPC1_DAQ_D_N<8>"	 		LOC = "F20";
NET "HPC1_DAQ_D_P<8>"	 		LOC = "F19";
NET "HPC1_DAQ_D_N<9>"	 		LOC = "C19";
NET "HPC1_DAQ_D_P<9>"	 		LOC = "B20";
NET "HPC1_DAQ_D_N<10>"	 		LOC = "G20";
NET "HPC1_DAQ_D_P<10>"	 		LOC = "F21";
NET "HPC1_DAQ_D_N<11>"	 		LOC = "H20";
NET "HPC1_DAQ_D_P<11>"	 		LOC = "H19";
NET "HPC1_DAQ_D_N<12>"	 		LOC = "L30";
NET "HPC1_DAQ_D_P<12>"	 		LOC = "L29";
NET "HPC1_DAQ_D_N<13>"	 		LOC = "D19";
NET "HPC1_DAQ_D_P<13>"	 		LOC = "E19";
NET "HPC1_DAQ_D_N<14>"	 		LOC = "J22";
NET "HPC1_DAQ_D_P<14>"	 		LOC = "H22";
NET "HPC1_DAQ_D_N<15>"	 		LOC = "A19";
NET "HPC1_DAQ_D_P<15>"	 		LOC = "A18";
NET "HPC1_DAQ_D_N<16>"	 		LOC = "K22";
NET "HPC1_DAQ_D_P<16>"	 		LOC = "K21";
NET "HPC1_DAQ_D_N<17>"	 		LOC = "C18";
NET "HPC1_DAQ_D_P<17>"	 		LOC = "B18";
NET "HPC1_DAQ_D_N<18>"	 		LOC = "L21";
NET "HPC1_DAQ_D_P<18>"	 		LOC = "L20";
NET "HPC1_DAQ_D_N<19>"	 		LOC = "D22";
NET "HPC1_DAQ_D_P<19>"	 		LOC = "C22";
NET "HPC1_DAQ_D_N<20>"	 		LOC = "L31";
NET "HPC1_DAQ_D_P<20>"	 		LOC = "M31";
NET "HPC1_DAQ_D_N<21>"	 		LOC = "M25";
NET "HPC1_DAQ_D_P<21>"	 		LOC = "N25";
NET "HPC1_DAQ_D_N<22>"	 		LOC = "K31";
NET "HPC1_DAQ_D_P<22>"	 		LOC = "K32";
NET "HPC1_DAQ_D_N<23>"	 		LOC = "M27";
NET "HPC1_DAQ_D_P<23>"	 		LOC = "M26";
NET "HPC1_DAQ_D_N<24>"	 		LOC = "P30";
NET "HPC1_DAQ_D_P<24>"	 		LOC = "P31";
NET "HPC1_DAQ_D_N<25>"	 		LOC = "P27";
NET "HPC1_DAQ_D_P<25>"	 		LOC = "N27";
NET "HPC1_DAQ_D_N<26>"	 		LOC = "M32";
NET "HPC1_DAQ_D_P<26>"	 		LOC = "L33";
NET "HPC1_DAQ_D_N<27>"	 		LOC = "M28";
NET "HPC1_DAQ_D_P<27>"	 		LOC = "L28";
NET "HPC1_DAQ_D_N<28>"	 		LOC = "P32";
NET "HPC1_DAQ_D_P<28>"	 		LOC = "N32";
NET "HPC1_DAQ_D_N<29>"	 		LOC = "N29";
NET "HPC1_DAQ_D_P<29>"	 		LOC = "N28";
NET "HPC1_DAQ_D_N<30>"	 		LOC = "L26";
NET "HPC1_DAQ_D_P<30>"	 		LOC = "L25";
NET "HPC1_DAQ_D_N<31>"	 		LOC = "J32";
NET "HPC1_DAQ_D_P<31>"	 		LOC = "J31";
NET "HPC1_DAQ_RDYn_N"	 		LOC = "D32";
NET "HPC1_DAQ_RDYn_P"	 		LOC = "D31";
NET "HPC1_DAQ_WR_N"	 			LOC = "H33";
NET "HPC1_DAQ_WR_P"	 			LOC = "H34";
# NET "HPC1_HB__N<0>"	 			LOC = "D26";
# NET "HPC1_HB__P<0>"	 			LOC = "D25";
# NET "HPC1_HB__N<1>"	 			LOC = "C25";
# NET "HPC1_HB__P<1>"	 			LOC = "C24";
# NET "HPC1_HB__N<2>"	 			LOC = "F26";
# NET "HPC1_HB__P<2>"	 			LOC = "E26";
# NET "HPC1_HB__N<3>"	 			LOC = "A25";
# NET "HPC1_HB__P<3>"	 			LOC = "B25";
# NET "HPC1_HB__N<4>"	 			LOC = "E27";
# NET "HPC1_HB__P<4>"	 			LOC = "D27";
# NET "HPC1_HB__N<5>"	 			LOC = "A26";
# NET "HPC1_HB__P<5>"	 			LOC = "B26";
# NET "HPC1_HB__N<6>"	 			LOC = "G27";
# NET "HPC1_HB__P<6>"	 			LOC = "G26";
# NET "HPC1_HB__N<7>"	 			LOC = "C27";
# NET "HPC1_HB__P<7>"	 			LOC = "B27";
# NET "HPC1_HB__N<8>"	 			LOC = "E24";
# NET "HPC1_HB__P<8>"	 			LOC = "D24";
# NET "HPC1_HB__N<9>"	 			LOC = "B28";
# NET "HPC1_HB__P<9>"	 			LOC = "C28";
# NET "HPC1_HB__N<10>"	 		LOC = "D29";
# NET "HPC1_HB__P<10>"	 		LOC = "C29";
# NET "HPC1_HB__N<11>"	 		LOC = "G25";
# NET "HPC1_HB__P<11>"	 		LOC = "F25";
# NET "HPC1_HB__N<12>"	 		LOC = "A29";
# NET "HPC1_HB__P<12>"	 		LOC = "A28";
# NET "HPC1_HB__N<13>"	 		LOC = "E28";
# NET "HPC1_HB__P<13>"	 		LOC = "F28";
# NET "HPC1_HB__N<14>"	 		LOC = "B30";
# NET "HPC1_HB__P<14>"	 		LOC = "A30";
# NET "HPC1_HB__N<15>"	 		LOC = "F29";
# NET "HPC1_HB__P<15>"	 		LOC = "E29";
# NET "HPC1_HB__N<16>"	 		LOC = "D30";
# NET "HPC1_HB__P<16>"	 		LOC = "C30";
# NET "HPC1_HB__N<17>"	 		LOC = "H29";
# NET "HPC1_HB__P<17>"	 		LOC = "H28";
# NET "HPC1_HB__N<18>"	 		LOC = "A31";
# NET "HPC1_HB__P<18>"	 		LOC = "B31";
#CLK FOR ALL LINK HPC1 DAQ HK CONF
NET "HPC1_HK_CLK_N"	 			LOC = "G33";
NET "HPC1_HK_CLK_P"	 			LOC = "F33";
NET "HPC1_HK_D_N<0>"	 		LOC = "R27";
NET "HPC1_HK_D_P<0>"	 		LOC = "R28";
NET "HPC1_HK_D_N<1>"	 		LOC = "R32";
NET "HPC1_HK_D_P<1>"	 		LOC = "R31";
NET "HPC1_HK_D_N<2>"	 		LOC = "T26";
NET "HPC1_HK_D_P<2>"	 		LOC = "R26";
NET "HPC1_HK_D_N<3>"	 		LOC = "L34";
NET "HPC1_HK_D_P<3>"	 		LOC = "K34";
NET "HPC1_HK_D_N<4>"	 		LOC = "N30";
NET "HPC1_HK_D_P<4>"	 		LOC = "M30";
NET "HPC1_HK_D_N<5>"	 		LOC = "P34";
NET "HPC1_HK_D_P<5>"	 		LOC = "N34";
NET "HPC1_HK_D_N<6>"	 		LOC = "R29";
NET "HPC1_HK_D_P<6>"	 		LOC = "P29";
NET "HPC1_HK_D_N<7>"	 		LOC = "K29";
NET "HPC1_HK_D_P<7>"	 		LOC = "J30";
NET "HPC1_HK_RDYn_N"	 		LOC = "H32";
NET "HPC1_HK_RDYn_P"	 		LOC = "G32";
NET "HPC1_HK_WR_N"	 			LOC = "J34";
NET "HPC1_HK_WR_P"	 			LOC = "K33";
# NET "HPC1_IO_PRSNT_M2C_L"	 	LOC = "M10";
NET "HPC1_RESET_GSE"	 		LOC = "AD22" |SLEW=SLOW;
NET "HPC1_RESET_GSE"CLOCK_DEDICATED_ROUTE = FALSE;
# NET "IIC_SCL_FPGA"	 			LOC = "K9";
# NET "IIC_SDA_FPGA"	 			LOC = "L9";
# NET "LPC_ADC_CH1_PRSNT_M2C_L"	LOC = "AC10";
# NET "LPC_ADC_CH2_PRSNT_M2C_L"	LOC = "AB10";
# NET "SRAM_A<0>"	 				LOC = "G13";
# NET "SRAM_A<1>"	 				LOC = "H14";
# NET "SRAM_A<2>"	 				LOC = "D14";
# NET "SRAM_A<3>"	 				LOC = "C14";
# NET "SRAM_A<4>"	 				LOC = "G11";
# NET "SRAM_A<5>"	 				LOC = "F11";
# NET "SRAM_A<6>"	 				LOC = "A13";
# NET "SRAM_A<7>"	 				LOC = "A14";
# NET "SRAM_A<8>"	 				LOC = "G12";
# NET "SRAM_A<9>"	 				LOC = "H13";
# NET "SRAM_A<10>"	 			LOC = "F14";
# NET "SRAM_A<11>"	 			LOC = "E14";
# NET "SRAM_A<12>"	 			LOC = "H10";
# NET "SRAM_A<13>"	 			LOC = "G10";
# NET "SRAM_A<14>"	 			LOC = "B12";
# NET "SRAM_A<15>"	 			LOC = "B13";
# NET "SRAM_A<16>"	 			LOC = "K14";
# NET "SRAM_A<17>"	 			LOC = "J14";
# NET "SRAM_A<18>"	 			LOC = "L13";
# NET "SRAM_A<19>"	 			LOC = "M13";
# NET "SRAM_A<20>"	 			LOC = "M12";
# NET "SRAM_ADV_LD_N"	 			LOC = "J12";
# NET "SRAM_BWA_N"	 			LOC = "M11";
# NET "SRAM_BWB_N"	 			LOC = "C13";
# NET "SRAM_BWC_N"	 			LOC = "C12";
# NET "SRAM_BWD_N"	 			LOC = "H12";
# NET "SRAM_CE_N<1>"	 			LOC = "A11";
# NET "SRAM_CE<2>"	 			LOC = "B11";
# NET "SRAM_CE_N<3>"	 			LOC = "J11";
# NET "SRAM_CEN_N"	 			LOC = "J10";
# NET "SRAM_CLK"	 				LOC = "F13";
# NET "SRAM_DQ_A<0>"	 			LOC = "F18";
# NET "SRAM_DQ_A<1>"	 			LOC = "E17";
# NET "SRAM_DQ_A<2>"	 			LOC = "E18";
# NET "SRAM_DQ_A<3>"	 			LOC = "D17";
# NET "SRAM_DQ_A<4>"	 			LOC = "K18";
# NET "SRAM_DQ_A<5>"	 			LOC = "K17";
# NET "SRAM_DQ_A<6>"	 			LOC = "H17";
# NET "SRAM_DQ_A<7>"	 			LOC = "G17";
# NET "SRAM_DQ_B<0>"	 			LOC = "L19";
# NET "SRAM_DQ_B<1>"	 			LOC = "L18";
# NET "SRAM_DQ_B<2>"	 			LOC = "C17";
# NET "SRAM_DQ_B<3>"	 			LOC = "B17";
# NET "SRAM_DQ_B<4>"	 			LOC = "K19";
# NET "SRAM_DQ_B<5>"	 			LOC = "J19";
# NET "SRAM_DQ_B<6>"	 			LOC = "M18";
# NET "SRAM_DQ_B<7>"	 			LOC = "M17";
# NET "SRAM_DQ_C<0>"	 			LOC = "G18";
# NET "SRAM_DQ_C<1>"	 			LOC = "H18";
# NET "SRAM_DQ_C<2>"	 			LOC = "K16";
# NET "SRAM_DQ_C<3>"	 			LOC = "L16";
# NET "SRAM_DQ_C<4>"	 			LOC = "L15";
# NET "SRAM_DQ_C<5>"	 			LOC = "L14";
# NET "SRAM_DQ_C<6>"	 			LOC = "A16";
# NET "SRAM_DQ_C<7>"	 			LOC = "B16";
# NET "SRAM_DQ_D<0>"	 			LOC = "E16";
# NET "SRAM_DQ_D<1>"	 			LOC = "D16";
# NET "SRAM_DQ_D<2>"	 			LOC = "J17";
# NET "SRAM_DQ_D<3>"	 			LOC = "J16";
# NET "SRAM_DQ_D<4>"	 			LOC = "A15";
# NET "SRAM_DQ_D<5>"	 			LOC = "B15";
# NET "SRAM_DQ_D<6>"	 			LOC = "G15";
# NET "SRAM_DQ_D<7>"	 			LOC = "F15";
# NET "SRAM_DQP_A"	 			LOC = "M16";
# NET "SRAM_DQP_B"	 			LOC = "M15";
# NET "SRAM_DQP_C"	 			LOC = "H15";
# NET "SRAM_DQP_D"	 			LOC = "J15";
# NET "SRAM_MODE"	 				LOC = "D12";
# NET "SRAM_OE_N"	 				LOC = "E13";
# NET "SRAM_WE_N"	 				LOC = "E12";
# NET "SRAM_ZZ"	 				LOC = "D15";
# NET "USER_SMA_CLOCK_N"	 		LOC = "M22";
# NET "USER_SMA_CLOCK_P"	 		LOC = "L23";
# NET "USER_SMA_GPIO_N"	 		LOC = "AJ9";
# NET "USER_SMA_GPIO_P"	 		LOC = "AH9";
